<cdk-virtual-scroll-viewport
  itemSize="32"
  minBufferPx="1024"
  maxBufferPx="1024"
  class="h-full"
>
  <ng-container *ngIf="(items$ | async) === null; else loaded">
    <ngx-skeleton-loader
      *cdkVirtualFor="let ghost of ghostItems"
      [theme]="{
        display: 'block',
        height: '2rem',
        'margin-bottom': '0.375rem',
        'border-radius': '0',
        'background-color': 'rgba(229, 231, 235, 1)'
      }"
    ></ngx-skeleton-loader>
  </ng-container>

  <ng-template #loaded>
    <a
      *cdkVirtualFor="let item of items$ | async"
      routerLink="/{{ item }}"
      routerLinkActive="bg-gray-200"
      class="
        flex
        items-center
        h-8
        py-1
        px-4
        hover:bg-gray-200
        transition
        duration-100
      "
    >
      {{ item }}
    </a>
  </ng-template>
</cdk-virtual-scroll-viewport>
