@use 'sass:list';
@use 'sass:map';
@use 'sass:string';

@import '../utils/string';

// The weights for a variant.
$weights: (
  'thin': 100,
  'extraLight': 200,
  'light': 300,
  'regular': 400,
  'medium': 500,
  'semiBold': 600,
  'bold': 700,
  'extraBold': 800,
  'black': 900
);

/// Mixin for font face.
/// @param {string} $family - The font family.
/// @param {List} $variants - The available variants for the font.
/// @param {List} $exts - The file extenions of the font.
@mixin font(
  $family,
  $variants: 'thin' 'extraLight' 'light' 'regular' 'medium' 'semiBold' 'bold'
    'extraBold' 'black',
  $exts: 'woff2' 'woff'
) {
  @if length($variants) < 1 {
    @error 'Invalid variants';
  }

  $root: '../../assets/fonts';
  $dir: string.to-lower-case(str-replace($family, ' ', '-'));
  $file-prefix: str-replace($family, ' ', '');

  @each $variant in $variants {
    $weight: map.get($weights, $variant);
    $src: null;

    @each $ext in $exts {
      $variant: capitalize($variant);
      $url: '#{$root}/#{$dir}/#{$file-prefix}-#{$variant}.#{$ext}';
      $src: list.append(url($url) format($ext), comma);
    }

    @font-face {
      font-display: swap;
      font-family: $family;
      font-style: normal;
      font-weight: $weight;
      src: $src;
    }
  }
}

/// Mixin for variable fonts.
/// @param {string} $family - The font family.
/// @param {string} $suffix - The suffix that is added to family and url.
/// @param {string} $min-weight - The minimum weight of the font.
/// @param {string} $max-weight - The maximum weight of the font.
/// @param {List} $exts - The file extenions of the font.
@mixin font-variable(
  $family,
  $suffix: null,
  $min-weight: 'thin',
  $max-weight: 'black',
  $exts: 'woff2' 'woff'
) {
  $root: '../../assets/fonts';
  $dir: string.to-lower-case(str-replace($family, ' ', '-'));
  $file-prefix: str-replace($family, ' ', '');
  $min-weight: map.get($weights, $min-weight);
  $max-weight: map.get($weights, $max-weight);

  // Append prefix to family.
  $family: '#{$family} #{$suffix}';
  $src: null;

  @each $ext in $exts {
    $url: '#{$root}/#{$dir}/#{$file-prefix}';
    @if $suffix {
      // Append prefix to url.
      $url: '#{$url}-#{$suffix}';
    }

    $url: '#{$url}.#{$ext}';
    $src: list.append($src, url($url) format($ext), comma);
  }

  @supports (font-variation-settings: normal) {
    @font-face {
      font-display: swap;
      font-family: $family;
      font-style: normal;
      font-weight: $min-weight $max-weight;
      src: $src;
    }
  }
}
